@using MVCDemo.ViewModels;
@model List<CreateLanguageVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<table class="table">
@foreach (var item in Model)
{

    <tr>
        <td> @item.Name</td>
                <td> @item.Code</td>

    </tr>
    
}
</table>